.navbar {
	font-family: 'Chakra Petch', sans-serif;
	font-weight: bold;
}

.navbar-item, .navbar-link {
	text-transform: uppercase;
	font-size: 1rem !important;
}

.navbar-logo {
	font-size: 32px !important;
}

.navbar-burger span {
	background-color: var(--color0-text);
}
.color0 .navbar-item:hover {
	background-color: var(--color0-accent);
}
.color0 .navbar-link::after {
	border-color: var(--color0-text);
}
.color0 .navbar-dropdown {
	background-color: var(--color0-bg);
}
